<a href="https://colab.research.google.com/github/greenbrown/belajar-python/blob/main/Lidya_Mentoring_Max_Week_4_Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 4 - Python Programming
---

Mentoring Session - Job Preparation Program - Pacmann AI

# Task 1. Find a Double Promo User

Category: Medium

---

**Task Descriptions**
- Given lists of `user_id`, `promo_A_status`, `promo_B_status`
- Your task is to calculate how many user get a double promo (promo A and B)

Example
- `user_id = [3, 4, 5]`
- `promo_A_status = [0, 1, 1]`
  - This means, `user_id` 4 and 5 get promo A

- `promo_B_status = [1, 1, 0]`
  - This means, `user_id` 3 and 4 get promo B

- So, the `user_id` whose get double promo are 1 user, that is user 4

---
**Detail input & output**

There are three input:
- `user_id`, a list
- `promo_A_status`, a list
- `promo_B_status`, a list

There is a single output:
- `int`

---
**Input 1**

```python
user_id = [1, 2, 3, 4, 5]
promo_A_status = [1, 0, 1, 1, 0]
promo_B_status = [0, 0, 1, 1, 1]
```

**Output - 1**
```
Number of user with double promo: 2
```

---
**Input 2**

```python
user_id = [11, 21, 34, 49, 51]
promo_A_status = [1, 1, 0, 1, 0]
promo_B_status = [0, 0, 0, 0, 1]
```

**Output - 2**
```
Number of user with double promo: 0
```

**Questions 1**

---
Provide the code for solving the problem

In [ ]:
# Write your code here
# Note: You can write your input manually
user_id_2 = [11, 21, 34, 49, 51]
promo_A_status_2 = [1, 1, 1, 1, 0]
promo_B_status_2 = [0, 0, 1, 0, 1]

def find_double_promo_users(user_id, promo_A_status, promo_B_status):
    # Initialize counter for double promo users
    double_promo_count = 0

    # Loop through the lists to check for double promo
    for a, b in zip(promo_A_status, promo_B_status):
        if a == 1 and b == 1:
            double_promo_count += 1

    return double_promo_count


# user_id_1 = [1, 2, 3, 4, 5]
# promo_A_status_1 = [1, 0, 1, 1, 0]
# promo_B_status_1 = [0, 0, 1, 1, 1]
# print("Number of users with double promo:", find_double_promo_users(user_id_1, promo_A_status_1, promo_B_status_1))


print("Number of users with double promo:", find_double_promo_users(user_id_2, promo_A_status_2, promo_B_status_2))

Number of users with double promo: 1

# Task 2. Find a Double Promo User - Continued

Category: Medium

---

**Task Descriptions**
- Given lists of `user_id`, `promo_A_status`, `promo_B_status`
- Your task is to find which `user_id` get double promo (promo A and B)

Example
- `user_id = [3, 4, 5]`
- `promo_A_status = [0, 1, 1]`
  - This means, `user_id` 4 and 5 get promo A

- `promo_B_status = [1, 1, 0]`
  - This means, `user_id` 3 and 4 get promo B

- So, the `user_id` whose get double promo are `[4]`

---
**Detail input & output**

There are three input:
- `user_id`, a list
- `promo_A_status`, a list
- `promo_B_status`, a list

There is a single output:
- a list of `user_id` with double promo

---
**Input 1**

```python
user_id = [1, 2, 3, 4, 5]
promo_A_status = [1, 0, 1, 1, 0]
promo_B_status = [0, 0, 1, 1, 1]
```

**Output - 1**
```
user_id with double promo: [3, 4]
```

---
**Input 2**

```python
user_id = [11, 21, 34, 49, 51]
promo_A_status = [1, 1, 0, 1, 0]
promo_B_status = [0, 0, 0, 0, 1]
```

**Output - 2**
```
user_id with double promo: []
```

**Questions 1**

---
Provide the code for solving the problem

In [ ]:
# Write your code here
# Note: You can write your input manually
user_id_1 = [1, 2, 3, 4, 5]
promo_A_status_1 = [1, 0, 1, 1, 0]
promo_B_status_1 = [0, 0, 1, 1, 1]

def find_double_promo_users(user_id, promo_A_status, promo_B_status):
    # List to store user IDs with double promos
    double_promo_users = []

    # Loop through the lists to check for double promo
    for uid, a, b in zip(user_id, promo_A_status, promo_B_status):
        if a == 1 and b == 1:
            double_promo_users.append(uid)

    return double_promo_users

print("user_id with double promo:", find_double_promo_users(user_id_1, promo_A_status_1, promo_B_status_1))

# Input
# user_id_2 = [11, 21, 34, 49, 51]
# promo_A_status_2 = [1, 1, 0, 1, 0]
# promo_B_status_2 = [0, 0, 0, 0, 1]
# print("user_id with double promo:", find_double_promo_users(user_id_2, promo_A_status_2, promo_B_status_2))

user_id with double promo: [3, 4]

# Task 3. Calculate number of gender in a data

Category: Medium

---

**Task Descriptions**
- Given a list of gender, your task is to extract the number people in each gender and return it as a dictionary.

Example
- `a = ['male', 'female', 'male', 'female', 'female']`
- So there are 2 males & 3 females
- Thus our output would be `{'male': 2, 'female': 3}`

---
**Detail input & output**

- input: `a`, list of gender
- output: `dict`

---
**Input - 1**

```python
a = ['male', 'female', 'female', 'male']
```

**Output**
```python
{'male': 2, 'female': 2}
```

---
**Input - 2**

```python
a = ['female', 'female', 'female', 'female']
```

**Output**
```python
{'male': 0, 'female': 4}
```

**Questions 1**

---
Provide the code for solving the problem

In [ ]:
# Write your code here
# Note: You can write your input manually

def count_gender(a):
    # Initialize dictionary with zero counts for 'male' and 'female'
    gender_count = {'male': 0, 'female': 0}

    # Count each gender in the list
    for gender in a:
        if gender in gender_count:
            gender_count[gender] += 1

    return gender_count

# Test Cases
a1 = ['male', 'female', 'male', 'male']
print(count_gender(a1))  # Output: {'male': 2, 'female': 2}

a2 = ['female', 'female', 'female', 'female']
print(count_gender(a2))  # Output: {'male': 0, 'female': 4}

{'male': 3, 'female': 1}
{'male': 0, 'female': 4}

# Task 4. Fibonacci Prime

Category: Medium

---

## Task Descriptions
---
- Create a function to find the first `n` Fibonacci Prime Number.

**Fibonacci number**
- Fibonacci number is a number that follows this sequence

$$
n_{i} = n_{i-1} + n_{i-2}
$$

- with $n_{1}=1$ and $n_{2}=1$
- So, the first 10 Fibonacci number is

$$
1, 1, 2, 3, 5, 8, 13, 21, 34, 55
$$

**Prime number**
- A prime number is a number which only have 2 divisors, that is $1$ and the number itself.
- Example
  - $2$ is a prime number. Divisors of $2$ are $1$ and $2$
  - $10$ is **not** a prime number. Divisors of $10$ are $1$, $2$, $5$, and $10$.
  - $13$ is a prime number. Divisors of $13$ are $1$ and $13$

## Detail function
---

- Create a function named `fibonacci_prime` with
  - Input `n` (integer)
  - Output `numbers` (list), contains the first `n` Fibonacci prime number

## Examples
---

**Input 1**

```python
# Input
res = fibonacci_prime(n = 5)
print(res)
```

**Output 1**
```python
[2, 3, 5, 13, 89]
```

**Input 2**

```python
# Input
res = fibonacci_prime(n = 10)
print(res)
```

**Output 2**
```python
[2, 3, 5, 13, 89, 233, 1597, 28657, 514229, 433494437]
```

## Answer

---
- Provide the code for solving the problem
- **Make sure your function follows the `Detail Function`**

In [ ]:
# Write your code here
# Note: You can write your input manually

def is_prime(num):
    """Check if a number is prime."""
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def fibonacci_primes(n):
    """Find the first n Fibonacci prime numbers."""
    fib_primes = []  # List to store Fibonacci primes
    a, b = 1, 1      # Initial Fibonacci numbers

    while len(fib_primes) < n:
        # Check if the current Fibonacci number is prime
        if is_prime(a):
            fib_primes.append(a)

        # Generate the next Fibonacci number
        a, b = b, a + b

    return fib_primes

# Test Cases
print(fibonacci_primes(5))  # Output: [2, 3, 5, 13, 89]
print(fibonacci_primes(10)) # Output: [2, 3, 5, 13, 89, 233, 1597, 28657, 514229, 433494437]

[2, 3, 5, 13, 89]
[2, 3, 5, 13, 89, 233, 1597, 28657, 514229, 433494437]

# Task 5. Accuracy Metrics in Classifications

Category: Medium

---

## Task Descriptions
---
- Create a **lambda** function to calculate the accuracy of given prediction

**Accuracy**
- You can use accuracy metrics to measure classification model performance.
- Given a below data

<center>

|Real Value|Predicted Value|Status|
|:--:|:--:|:--:|
|1|0|**False** prediction|
|1|1|Correct prediction|
|0|0|Correct prediction|
|0|1|**False** prediction|
|1|1|Correct prediction|
|1|1|Correct prediction|
|0|0|Correct prediction|
|1|1|Correct prediction|

</center>

- If you predict `0` and the real value is `0`, you predict correctly
- If you predict `1` and the real value is `1`, you predict correctly
- If you predict `0` while the real value is `1`, you mispredict it.
- If you predict `1` while the real value is `0`, you also mispredict it.

- How to calculate accuracy?

$$
\text{accuracy}
=
\cfrac
{\text{number of correct}}
{\text{number of all data}}
$$

- So, based on the above table

$$
\begin{align*}
\text{accuracy}
&=
\cfrac
{\text{number of correct prediction}}
{\text{number of all data}} \\
&=
\cfrac
{6}
{8} \\
\text{accuracy}
&=
0.75
\end{align*}
$$

## Detail function
---

- Create a **lambda** function named `calculate_accuracy` with
  - Input
    - `y_actual` (list), contains the true value
    - `y_predicted` (list), contains the predicted value
  - Output `accuracy` (float), contains the accuracy metrics

## Examples
---

**Input 1**

```python
# Input
y_actual = [1, 1, 0, 0, 1, 1, 0, 1]
y_predicted = [0, 1, 0, 1, 1, 1, 0, 1]

res = calculate_accuracy(y_actual, y_predicted)
print(res)
```

**Output 1**
```python
0.75
```

**Input 2**

```python
# Input
y_actual = [1, 1, -1, -1, 1, 1, -1, 1, -1, -1]
y_predicted = [-1, 1, -1, -1, -1, 1, -1, 1, -1, 1]

res = calculate_accuracy(y_actual, y_predicted)
print(res)
```

**Output 2**
```python
0.7
```

## Answer

---
- Provide the code for solving the problem
- **Make sure your function follows the `Detail Function`**

In [ ]:
# Write your code here
# Note: You can write your input manually

# Lambda function to calculate accuracy
calculate_accuracy = lambda y_actual, y_predicted: sum(1 for actual, predicted in zip(y_actual, y_predicted) if actual == predicted) / len(y_actual)

# Test Cases
# Input 1
y_actual = [1, 1, 0, 0, 1, 1, 0, 1]
y_predicted = [0, 1, 0, 1, 1, 1, 0, 1]
res_1 = calculate_accuracy(y_actual_1, y_predicted_1)
print(res_1)  # Output: 0.75

# Input 2
y_actual_2 = [1, 1, -1, -1, 1, 1, -1, 1, -1, -1]
y_predicted_2 = [-1, 1, -1, -1, -1, 1, -1, 1, -1, 1]
res_2 = calculate_accuracy(y_actual_2, y_predicted_2)
print(res_2)  # Output: 0.7

0.75
0.7

# Task 6. Get the user churn

Category: Medium

---

## Task Descriptions
---
- Given a userID and its subscription status, create a function to determine the number of churned (unsubscribed user) on a specific month

**How this works**
- Given a set of userID and subscription status

```python
# [userId, subscribe until...]
user_data_2019 = [
    ['123db', 'November'],
    ['940cj', 'January'],
    ['859do', 'March'],
    ['948wp', 'August'],
    ['482po', 'August'],
    ['742bh', 'November']
]
```

- Say, we want to see the number of user churned (unsubscribed) on **March**
  - Only user `940cj` that does not have subscription renewal until **March**
  - So, the number of churned user is 1

- Say, we want to see the number of user churned (unsubscribed) on **August**,
  - Users `['940cj', '859do']` subscribtions end before august.
  - Thus, the number of churned user is 2

## Detail function
---

- Create a function named `calculate_churned` with
  - Input
    - `user_data` (list), contains the userId and subscribe until ...
    - `month` (str), in english, contains month to determine the churned user
  - Output `churned` (int), contains the number of churned user before `month`

## Examples
---

user_data = [['123', 'March'], ['124', 'Februari'], ['125', 'January']]

**Input 1**

```python
# Input
user_data_2021 = [
    ['5105', 'August'],
    ['8806', 'August'],
    ['1008', 'December'],
    ['2655', 'October'],
    ['5645', 'January'],
    ['3660', 'February'],
    ['1655', 'July'],
    ['5772', 'January'],
    ['4361', 'January'],
    ['9155', 'March'],
    ['7689', 'April'],
    ['6967', 'December'],
    ['6358', 'June'],
    ['2075', 'September'],
    ['9280', 'March'],
    ['2815', 'December'],
    ['7743', 'August'],
    ['1087', 'February'],
    ['9691', 'October'],
    ['3397', 'June']
]

res = calculate_churned(user_data = user_data_2021,
                        month = 'October')
print(res)
```

**Output 1**
```python
15
```

**Input 1**

```python
# Input
user_data_2022 = [
    ['2062', 'February'],
    ['5679', 'October'],
    ['4690', 'September'],
    ['8748', 'March'],
    ['8318', 'December'],
    ['7814', 'February'],
    ['9850', 'November'],
    ['2154', 'September'],
    ['7767', 'October'],
    ['3755', 'January'],
    ['3117', 'March'],
    ['4197', 'December'],
    ['7276', 'December'],
    ['3387', 'May'],
    ['2160', 'November'],
    ['9626', 'October'],
    ['5430', 'July'],
    ['7055', 'January'],
    ['7838', 'July'],
    ['8991', 'May'],
    ['6238', 'September'],
    ['8033', 'October'],
    ['8711', 'January'],
    ['9999', 'December'],
    ['9980', 'May'],
    ['8282', 'September'],
    ['1508', 'March'],
    ['9899', 'January'],
    ['4745', 'October'],
    ['9615', 'August'],
    ['8526', 'July'],
    ['8736', 'January'],
    ['6244', 'December'],
    ['8319', 'August'],
    ['1415', 'April'],
    ['3413', 'March'],
    ['1683', 'January'],
    ['8825', 'November'],
    ['6098', 'August'],
    ['2627', 'February']
]

res = calculate_churned(user_data = user_data_2022,
                        month = 'August')
print(res)
```

**Output 1**
```python
20
```

## Answer

---
- Provide the code for solving the problem
- **Make sure your function follows the `Detail Function`**

In [ ]:
# Write your code here
# Note: You can write your input manually


def calculate_churned(user_data, month):
    # Define a dictionary to map month names to their respective order numbers
    month_to_index = {
        'January': 1, 'February': 2, 'March': 3, 'April': 4, 'May': 5, 'June': 6,
        'July': 7, 'August': 8, 'September': 9, 'October': 10, 'November': 11, 'December': 12
    }

    # Get the index of the target month
    target_month_index = month_to_index[month]

    # Initialize a counter for churned users
    churned_count = 0

    # Iterate through each user data
    for user_id, subscribed_until in user_data:
        # Get the index of the month the user was subscribed until
        subscribed_until_index = month_to_index[subscribed_until]

        # Check if the user's subscription ended before the target month
        if subscribed_until_index < target_month_index:
            churned_count += 1

    return churned_count

# Test Cases

# Input 1
user_data_2021 = [
    ['5105', 'August'],
    ['8806', 'August'],
    ['1008', 'December'],
    ['2655', 'October'],
    ['5645', 'January'],
    ['3660', 'February'],
    ['1655', 'July'],
    ['5772', 'January'],
    ['4361', 'January'],
    ['9155', 'March'],
    ['7689', 'April'],
    ['6967', 'December'],
    ['6358', 'June'],
    ['2075', 'September'],
    ['9280', 'March'],
    ['2815', 'December'],
    ['7743', 'August'],
    ['1087', 'February'],
    ['9691', 'October'],
    ['3397', 'June']
]

res1 = calculate_churned(user_data=user_data_2021, month='October')
print(res1)  # Output: 15

# Input 2
user_data_2022 = [
    ['2062', 'February'],
    ['5679', 'October'],
    ['4690', 'September'],
    ['8748', 'March'],
    ['8318', 'December'],
    ['7814', 'February'],
    ['9850', 'November'],
    ['2154', 'September'],
    ['7767', 'November'],
    ['3755', 'January'],
    ['3117', 'March'],
    ['4197', 'December'],
    ['7276', 'December'],
    ['3387', 'May'],
    ['2160', 'November'],
    ['9626', 'October'],
    ['5430', 'July'],
    ['7055', 'January'],
    ['7838', 'July'],
    ['8991', 'May'],
    ['6238', 'September'],
    ['8033', 'October'],
    ['8711', 'January'],
    ['9999', 'December'],
    ['9980', 'May'],
    ['8282', 'September'],
    ['1508', 'March'],
    ['9899', 'January'],
    ['4745', 'October'],
    ['9615', 'August'],
    ['8526', 'July'],
    ['8736', 'January'],
    ['6244', 'December'],
    ['8319', 'August'],
    ['1415', 'April'],
    ['3413', 'March'],
    ['1683', 'January'],
    ['8825', 'November'],
    ['6098', 'August'],
    ['2627', 'February']
]

res2 = calculate_churned(user_data=user_data_2022, month='August')
print(res2)  # Output: 20

15
20

# Task 7. Count Alphabet

**Task Descriptions**

- Given an `input_text`
- Your tasks are to calculate how many characters that upper case, lower case, and numeric inside the `input_text`
- You must also count how many characters in the input
- But there are some requirements in this task, your `input_text` must be in the correct format like there must be a whitespace inside the string.
- If the requirements are not met, it will print a message **`"Not a Valid Text"`**

**Input - 1**

```py
count_alphabet("Komm, süsser Tod")
```

**Output - 1**

```py
Total Character: 13
Count Upper Case: 2, Count Lower Case: 11, Count Digit: 0
```

**Input - 2**

```py
count_alphabet("Kode Pos dari Pasar Minggu adalah 12560")
```

**Output - 2**

```py
Total Character: 33
Count Upper Case: 4, Count Lower Case: 24, Count Digit: 5
```

**Input - 3**

```py
count_alphabet("BesokKitaPergiMakan")
```

**Output - 3**

```py
Not a Valid Text
```

In [ ]:
# def count_alphabet(input_text):
# Write code here

def count_alphabet(input_text):
    # Check if there is a whitespace in the input text
    if ' ' not in input_text:
        print("Not a Valid Text")
        return

    # Initialize counters
    upper_count = 0
    lower_count = 0
    digit_count = 0
    total_characters = 0

    # Loop through each character in the input text
    for char in input_text:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1
        elif char.isdigit():
            digit_count += 1

        # Increase the total characters count (excluding spaces)
        if char != ' ':
            total_characters += 1

    # Print the results
    print(f"Total Character: {total_characters}")
    print(f"Count Upper Case: {upper_count}, Count Lower Case: {lower_count}, Count Digit: {digit_count}")

# Test cases
count_alphabet("MakididAW 14045")

Total Character: 14
Count Upper Case: 3, Count Lower Case: 6, Count Digit: 5

In [ ]:
count_alphabet("Makidi 14045")

Total Character: 11
Count Upper Case: 1, Count Lower Case: 5, Count Digit: 5