<a href="https://colab.research.google.com/github/greenbrown/belajar-python/blob/main/Mentoring_Max_Week_2_Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 2 - Python Programming
---

Mentoring Session - Job Preparation Program - Pacmann AI

# Task 1. Calculate Average Sessions

**Task Descriptions**

- PacBook is a Social Media platform and they want to know what is their user Average Sessions and Session Duration for each data
- Given a three input for `load_time` (in minutes) and `exit_time` (in minutes)

- To calculate Session Duration, you can use this formula

$$
\text{Session}_\text{duration} = \text{exit}_\text{time} - \text{load}_\text{time}
$$

- To calculate Average Sessions, you can use this formula

$$
\text{Average}_\text{sessions} = \frac{\sum_{n=1}^{3}{\text{Session_duration}_{n}}}{\text{N_SESSIONS}}
$$

- But there are some constraints in this task
  - If the input for `load_time` and `exit_time` is less than zero or negative values, it will print the result **`"Not a Valid Input"`**

**Input - 1**

```py
load_time_1 = 5
exit_time_1 = 10

load_time_2 = 2
exit_time_2 = 15.5

load_time_3 = 1
exit_time_3 = 22.3
```

**Output - 1**

```py
Session 1 Duration (in minutes): 5
Session 2 Duration (in minutes): 13.5
Session 3 Duration (in minutes): 21.3
Average Session Duration (in minutes): 13.27
```

**Input - 2**

```py
load_time_1 = 0
exit_time_1 = 0

load_time_2 = 0
exit_time_2 = 0

load_time_3 = 0
exit_time_3 = 0
```

**Output - 2**

```py
Session 1 Duration (in minutes): 0
Session 2 Duration (in minutes): 0
Session 3 Duration (in minutes): 0
Average Session Duration (in minutes): 0
```

**Input - 3**

```py
load_time_1 = 3
exit_time_1 = 7

load_time_2 = -2
exit_time_2 = 5

load_time_3 = 3
exit_time_3 = 156
```

**Output - 3**

```py
Not a Valid Input
```

In [ ]:
# Write your code here
load_time_1 =
exit_time_1 =

load_time_2 =
exit_time_2 =

load_time_3 =
exit_time_3 =

# jawaban

Session 1 Duration (in minutes): 0
Session 2 Duration (in minutes): 0
Session 3 Duration (in minutes): 0
Average Session Duration (in minutes): 0

# Task 2. Temperature Converter Calculator

Category: Medium

---

**Task Descriptions**
- There are several unit of temperatures use by people around the world.
  - For general people: Celcius or Fahrenheit
  - For academic purposes: Kelvin
- Your task is to create a temperature converter calculator.
  - Celcius to Kelvin, vice versa
  - Fahrenheit to Kelvin, vice versa
  - Celcius to Fahrenheit, vice versa
- **Addition**: Find how to convert the temperature by yourself.

**Input**

```python
temp = 20
from_unit = 'Celcius'
to_unit = 'Fahrenheit'
```

**Output**
```
20 Celcius is equal to 68 Fahrenheit
```

**Questions 1**

---
Draw your code flowchart

*Insert picture of your flowchart*

**Questions 2**

---
Create your code based on the flowchart

In [ ]:
# Write your code here
temp = ...
from_unit = ...
to_unit = ...

# Task 3. Extract NIK (Nomor Induk Kependudukan) Data

Category: Hard

---

**Task Descriptions**
- NIK is not some random numbers. You can extract information from the NIK.
  - The first six digits are a province, regency, and district code
  - The next six digits are the date of birth; DD-MM-YY, respectively
    - For men, the date of birth ranged between 01-31
    - For women, the date of birth is added with 40, hence ranged between 41-71.
  - The last 4 digits are a serial number of NIK issuance.


- Given **two** NIK, your tasks are
  1. Extract the date of birth of each NIK
  2. Extract their gender.
  3. Extract whether they have similar gender.
  4. Extract whether they have similar month of birth.

**Input**

```python
nik_1 = 1571011709860003
nik_2 = 2404075109910009
```

**Output**
```
Date of Birth
- NIK 1 : 17-09-86
- NIK 2 : 11-09-91

Gender
- NIK 1 : Male
- NIK 2 : Female

Do they have similar gender?
No

Do they have similar month of birth?
Yes, it is on September
```

**Questions 1**

---
Draw your code flowchart

*Insert picture of your flowchart*

**Questions 2**

---
Create your code based on the flowchart

In [ ]:
# Write your code here
nik_1 = ...
nik_2 = ...

# Task 4. Calculate Pajak Penghasilan (Simplified)

Category: Hard

---

**Task Descriptions**
- According to Pemotongan Pajak Penghasilan PPh Pasal 21 Tahun 2016, we can calculate our income tax as (we'll write in Bahasa Indonesia for avoiding missinterpretation)

- **Penghasilan tidak kena pajak (PTKP)**
  - Penghasilan Rp 54.000.000 setahun untuk wajib pajak.
  - Tambahan Rp 4.500.000 diberikan jika wajib pajak menikah.
  - Tambahan Rp 4.500.000 lagi jika punya 1 orang anak atau Rp 9.000.000 jika punya 2 orang anak. Apabila jumlah tanggungan lebih dari itu, maka tetap dihitung 3 orang tanggungan.

- **Tarif Pajak Penghasilan**
  - 5% untuk penghasilan kena pajak (PKP) sampai dengan 60 Juta
  - 15% untuk PKP di atas 60 juta sampai dengan 250 Juta
  - 25% untuk PKP di atas 250 juta sampai dengan 500 juta
  - 30% untuk PKP di atas 500 juta sampai dengan 5 miliar
  - 35% untuk PKP di atas 5 miliar

- Your task is calculate the income tax given
  - Monthly income
  - Marital status
  - The number of dependents (jumlah tanggungan)

**Input - 1**

```python
monthly_income = 4750000
marital_status = 'single'
n_dependents = 0
```

**Output - 1**
```
Penghasilan neto setahun:
57000000

PTKP TK/0:
-54000000

Penghasilan Kena Pajak:
3000000

PPh 21 terutang setahun:
150000
```

**Input - 2**

```python
monthly_income = 15000000
marital_status = 'married'
n_dependents = 3
```

**Output - 2**
```
Penghasilan neto setahun:
180000000

PTKP K/3:
-72000000

Penghasilan Kena Pajak:
108000000

PPh 21 terutang setahun:
16200000
```

**Questions 1**

---
Draw your code flowchart

*Insert picture of your flowchart*

**Questions 2**

---
Create your code based on the flowchart

In [ ]:
# Write your code here
monthly_income = ...
marital_status = ...
n_dependents = ...